# 2020 Absorption Rates

Units Absorbed by Dwelling Type and Neighbourhood for Census Metropolitan Areas

Unabsorbed and Absorbed Tables need to be joined.

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/Neighborhood_Absorption.csv')

In [3]:
df1.tail()

,Province,Centre,Zone,Neighbourhood\nQuartier,Singles\nIndividuels,Semis\nJumelés,Row\nEn bande,Apartment\nand Other\nAppartements\net autres,Total
56,Alta/Alb.,Calgary,Other Centres ~ Autres centres,Airdrie,522,173,220,7,922
57,Alta/Alb.,Calgary,Other Centres ~ Autres centres,Cochrane,192,132,92,9,425
58,Alta/Alb.,Calgary,Other Centres ~ Autres centres,Calgary CMA Remainder ~ Calgary RMR (reste),311,42,12,6,371
59,Alta/Alb.,Calgary,Other Centres ~ Autres centres,Total,"1,025",347,324,22,"1,718"
60,Alta/Alb.,Calgary,Total,Total,"3,904","1,281","1,689","4,097","10,971"

In [4]:
df2 = pd.read_csv('data/Units_Unabsorbed_Neighbourhoods.csv')

In [5]:
df = df1.join(df2, how = 'outer', lsuffix = 'L', rsuffix = 'R' )

In [6]:
df.head()

,ProvinceL,CentreL,ZoneL,Neighbourhood\nQuartierL,Singles\nIndividuelsL,Semis\nJumelésL,Row\nEn bandeL,Apartment\nand Other\nAppartements\net autresL,TotalL,ProvinceR,CentreR,ZoneR,Neighbourhood\nQuartierR,Singles\nIndividuelsR,Semis\nJumelésR,Row\nEn bandeR,Apartment\nand Other\nAppartements\net autresR,TotalR
0,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Downtown/Eau Claire ~ Centre-ville/Eau Claire,--,--,--,73,73,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Downtown/Eau Claire ~ Centre-ville/Eau Claire,--,--,--,81,81
1,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Scarboro/Sunalta,4,2,--,3,9,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Scarboro/Sunalta,0,2,--,--,2
2,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Total,4,2,--,76,82,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Total,0,2,--,81,83
3,Alta/Alb.,Calgary,Beltline,Misson/Beltline,--,--,--,464,464,Alta/Alb.,Calgary,Beltline,Misson/Beltline,--,--,--,--,--
4,Alta/Alb.,Calgary,Beltline,Lower Mount Royal/Cliff Bungalow,5,--,1,--,6,Alta/Alb.,Calgary,Beltline,Lower Mount Royal/Cliff Bungalow,1,--,--,--,1

### The Rows are Checked to Ensure that Neighborhoods are Matched Precisely

In [7]:
df = df.drop(columns = ['ProvinceL', 'CentreL', 'ProvinceR', 'CentreR', 'ZoneR', 'Neighbourhood\nQuartierR'])
df.head()

,ZoneL,Neighbourhood\nQuartierL,Singles\nIndividuelsL,Semis\nJumelésL,Row\nEn bandeL,Apartment\nand Other\nAppartements\net autresL,TotalL,Singles\nIndividuelsR,Semis\nJumelésR,Row\nEn bandeR,Apartment\nand Other\nAppartements\net autresR,TotalR
0,Downtown ~ Centre-ville,Downtown/Eau Claire ~ Centre-ville/Eau Claire,--,--,--,73,73,--,--,--,81,81
1,Downtown ~ Centre-ville,Scarboro/Sunalta,4,2,--,3,9,0,2,--,--,2
2,Downtown ~ Centre-ville,Total,4,2,--,76,82,0,2,--,81,83
3,Beltline,Misson/Beltline,--,--,--,464,464,--,--,--,--,--
4,Beltline,Lower Mount Royal/Cliff Bungalow,5,--,1,--,6,1,--,--,--,1

### Renaming Absorbed

In [38]:
df = df.rename(columns = {'ZoneL' : 'Zone', 'Neighbourhood\nQuartierL' : 'Neighbourhood', 'Singles\nIndividuelsL' : 'Singles_Absorbed', 'Semis\nJumelésL' : 'Semis_Absorbed', 'Row\nEn bandeL' : 'Row_Absorbed', 'Apartment\nand Other\nAppartements\net autresL' : 'Apartment_And_Other_Absorbed', 'TotalL':'Total_Absorbed'
                    
                })

In [39]:
df.head()

,Singles,Semis,Row,Apartment_And_Other,Total_Absorbed,Singles_Unabsorbed,Semis_Unabsorbed,Row_Unabsorbed,Apartment_And_Other_Unabsorbed,Total_Unabsorbed,Section,Total_Units
0,--,--,--,73,73,--,--,--,81,81,Centre,154
1,4,2,--,3,9,0,2,--,--,2,Centre,11
3,--,--,--,464,464,--,--,--,--,0,Centre,464
4,5,--,1,--,6,1,--,--,--,1,Centre,7
5,0,2,9,21,32,1,2,1,0,4,Centre,36

### Renaming Unabsorbed Columns

In [40]:
df = df.rename(columns = { 'Singles\nIndividuelsR' : 'Singles_Unabsorbed', 'Semis\nJumelésR' : 'Semis_Unabsorbed', 'Row\nEn bandeR' : 'Row_Unabsorbed', 'Apartment\nand Other\nAppartements\net autresR' : 'Apartment_And_Other_Unabsorbed', 'TotalR' : 'Total_Unabsorbed'
                    
                })

In [41]:
df.head()

,Singles,Semis,Row,Apartment_And_Other,Total_Absorbed,Singles_Unabsorbed,Semis_Unabsorbed,Row_Unabsorbed,Apartment_And_Other_Unabsorbed,Total_Unabsorbed,Section,Total_Units
0,--,--,--,73,73,--,--,--,81,81,Centre,154
1,4,2,--,3,9,0,2,--,--,2,Centre,11
3,--,--,--,464,464,--,--,--,--,0,Centre,464
4,5,--,1,--,6,1,--,--,--,1,Centre,7
5,0,2,9,21,32,1,2,1,0,4,Centre,36

### Breaking Down the Zones to Identify the Directional Sections in Accordance with the Map on Page 21

### The Totals Will Need to be Removed From The DataFrame

The South East Industrial Neighborhood & Surrounding Communities will be grouped with South as it is predominately in the Southern region.

Airdrie will be removed as it is too far north.

In [42]:
df['Section'] = ''

In [43]:
df.Section[0:12] = 'Centre'

/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
df.Section[12] = 'West'
df.Section[13] = 'Centre'
df.Section[14:19] = 'West'
df.Section[20:21] = 'East'
df.Section[22:24] = 'South'
df.Section[25] = 'North'
df.Section[26] = 'Centre'
df.Section[27] = 'Centre'
df.Section[28] = 'North'
df.Section[29] = 'Centre'
df.Section[30:38] = 'North'
df.Section[39:45] = 'East'
df.Section[46] = 'Centre'
df.Section[47] = 'Centre'
df.Section[48] = 'Centre'
df.Section[49] = 'South'
df.Section[51:55] = 'South'
df.Section[56:61] = 'None'

/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/jaklynsoler/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
df.head(40)

,Singles,Semis,Row,Apartment_And_Other,Total_Absorbed,Singles_Unabsorbed,Semis_Unabsorbed,Row_Unabsorbed,Apartment_And_Other_Unabsorbed,Total_Unabsorbed,Section,Total_Units
0,--,--,--,73,73,--,--,--,81,81,Centre,154
1,4,2,--,3,9,0,2,--,--,2,Centre,11
3,--,--,--,464,464,--,--,--,--,0,Centre,464
4,5,--,1,--,6,1,--,--,--,1,Centre,7
5,0,2,9,21,32,1,2,1,0,4,Centre,36
7,20,25,4,13,62,5,6,3,9,23,Centre,85
8,36,38,5,106,185,9,8,7,10,34,Centre,219
9,7,3,14,73,97,3,1,1,9,14,Centre,111
11,56,49,52,194,351,11,10,26,7,54,Centre,405
12,18,--,3,2,23,2,--,2,--,4,West,27
13,13,32,29,36,110,3,5,4,--,12,Centre,122
14,15,12,20,9,56,3,9,1,66,79,Centre,135
15,2,19,--,1,22,1,6,--,--,7,,29
16,1,--,--,--,1,1,--,--,--,1,,2
17,1,4,--,26,31,--,4,--,32,36,West,67
18,156,6,76,175,413,21,0,29,236,286,West,699
20,2,--,59,10,71,--,--,0,0,0,West,71
21,4,3,--,122,129,--,--,--,4,4,West,133
22,4,2,16,39,61,1,--,2,9,12,West,73
23,497,83,87,621,1288,51,24,19,185,279,,1567
25,14,12,31,45,102,2,2,10,22,36,North,138
26,6,25,30,6,67,2,14,13,0,29,Centre,96
27,7,26,14,6,53,5,4,--,58,67,Centre,120
28,13,10,--,2,25,1,2,--,--,3,North,28
29,12,23,43,5,83,4,8,13,--,25,Centre,108
30,7,15,40,709,771,3,2,9,42,56,,827
31,10,--,--,165,175,--,--,--,--,0,,175
32,8,--,--,--,8,0,--,--,--,0,,8
33,5,--,--,--,5,0,--,--,--,0,,5
34,2,--,4,--,6,--,--,2,--,2,,8
35,19,--,4,5,28,3,--,0,5,8,North,36
36,152,10,64,146,372,13,1,10,14,38,North,410
37,565,188,252,185,1190,37,22,17,4,80,North,1270
39,1,4,--,1,6,--,2,--,--,2,North,8
40,2,5,4,--,11,--,--,--,--,0,North,11
41,--,--,--,--,0,--,--,--,--,0,North,0
42,3,--,--,--,3,--,--,--,--,0,North,3
43,2,--,--,--,2,--,--,--,--,0,North,2
44,679,209,257,341,1486,57,30,59,201,347,,1833
46,3,0,5,--,8,--,4,2,--,6,Centre,14

In [46]:
df = df[df['Neighbourhood'] != 'Total']

KeyError: 'Neighbourhood'

In [47]:
df.shape

(50, 12)

In [23]:
df.head(30)

,Singles,Semis,Row,Apartment_And_Other,Total_Absorbed,Singles_Unabsorbed,Semis_Unabsorbed,Row_Unabsorbed,Apartment_And_Other_Unabsorbed,Total_Unabsorbed,Section
0,--,--,--,73,73,--,--,--,81,81,Centre
1,4,2,--,3,9,0,2,--,--,2,Centre
3,--,--,--,464,464,--,--,--,--,0,Centre
4,5,--,1,--,6,1,--,--,--,1,Centre
5,0,2,9,21,32,1,2,1,0,4,Centre
7,20,25,4,13,62,5,6,3,9,23,Centre
8,36,38,5,106,185,9,8,7,10,34,Centre
9,7,3,14,73,97,3,1,1,9,14,Centre
11,56,49,52,194,351,11,10,26,7,54,Centre
12,18,--,3,2,23,2,--,2,--,4,West
13,13,32,29,36,110,3,5,4,--,12,Centre
14,15,12,20,9,56,3,9,1,66,79,West
15,2,19,--,1,22,1,6,--,--,7,West
16,1,--,--,--,1,1,--,--,--,1,West
17,1,4,--,26,31,--,4,--,32,36,West
18,156,6,76,175,413,21,0,29,236,286,West
20,2,--,59,10,71,--,--,0,0,0,East
21,4,3,--,122,129,--,--,--,4,4,
22,4,2,16,39,61,1,--,2,9,12,South
23,497,83,87,621,"1,288",51,24,19,185,279,South
25,14,12,31,45,102,2,2,10,22,36,North
26,6,25,30,6,67,2,14,13,0,29,Centre
27,7,26,14,6,53,5,4,--,58,67,Centre
28,13,10,--,2,25,1,2,--,--,3,North
29,12,23,43,5,83,4,8,13,--,25,Centre
30,7,15,40,709,771,3,2,9,42,56,North
31,10,--,--,165,175,--,--,--,--,0,North
32,8,--,--,--,8,0,--,--,--,0,North
33,5,--,--,--,5,0,--,--,--,0,North
34,2,--,4,--,6,--,--,2,--,2,North

In [29]:
df.Total_Unabsorbed.replace('--', 0, inplace = True)
df.Total_Absorbed.replace('--', 0, inplace = True)
df.Total_Unabsorbed.replace(',', '', regex = True, inplace = True)
df.Total_Absorbed.replace(',', '', regex = True, inplace = True)

In [30]:
df.drop(columns = ['Zone', 'Neighbourhood'], inplace = True)

KeyError: "['Zone' 'Neighbourhood'] not found in axis"

In [31]:
df.Total_Unabsorbed = pd.to_numeric(df.Total_Unabsorbed)

In [32]:
df.Total_Absorbed = pd.to_numeric(df.Total_Absorbed)

In [35]:
df['Total_Units'] = df.Total_Absorbed + df.Total_Unabsorbed

In [36]:
n_df = df[df['Section'] == 'North']
s_df = df[df['Section'] == 'South']
e_df = df[df['Section'] == 'East']
w_df = df[df['Section'] == 'West']
c_df = df[df['Section'] == 'Centre']

### The Neighborhoods are Sorted Into Sections

The data needs to be further sorted into averages for each property type.

In [37]:
n_df.head()

,Singles,Semis,Row,Apartment_And_Other,Total_Absorbed,Singles_Unabsorbed,Semis_Unabsorbed,Row_Unabsorbed,Apartment_And_Other_Unabsorbed,Total_Unabsorbed,Section,Total_Units
25,14,12,31,45,102,2,2,10,22,36,North,138
28,13,10,--,2,25,1,2,--,--,3,North,28
30,7,15,40,709,771,3,2,9,42,56,North,827
31,10,--,--,165,175,--,--,--,--,0,North,175
32,8,--,--,--,8,0,--,--,--,0,North,8

In [112]:
unabsorbed =

In [113]:
unabsorbed.head()

,Province,Centre,Zone,Neighbourhood\nQuartier,Singles\nIndividuels,Semis\nJumelés,Row\nEn bande,Apartment\nand Other\nAppartements\net autres,Total
0,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Downtown/Eau Claire ~ Centre-ville/Eau Claire,--,--,--,81,81
1,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Scarboro/Sunalta,0,2,--,--,2
2,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Total,0,2,--,81,83
3,Alta/Alb.,Calgary,Beltline,Misson/Beltline,--,--,--,--,--
4,Alta/Alb.,Calgary,Beltline,Lower Mount Royal/Cliff Bungalow,1,--,--,--,1

In [89]:
sw_df = df[df['Zone'] == 'Southwest ~ Sud-Ouest']

In [19]:
sw_df.head(10)

,Zone,Neighbourhood,Singles,Semis,Row,Apartment_And_Other,Total
11,Southwest ~ Sud-Ouest,Altadore/South Calgary/CFB Currie etc. ~ Altad...,56,49,52,194,351
12,Southwest ~ Sud-Ouest,North Glenmore Park/Lakeview,18,--,3,2,23
13,Southwest ~ Sud-Ouest,Killarney/Glengarry,13,32,29,36,110
14,Southwest ~ Sud-Ouest,Wildwood/Spruce Cliff/Shaganappi etc.,15,12,20,9,56
15,Southwest ~ Sud-Ouest,Glendale/Glenbrook,2,19,--,1,22
16,Southwest ~ Sud-Ouest,Rutland Park/Glamorgan,1,--,--,--,1
17,Southwest ~ Sud-Ouest,Strathcona Pk/Christie Pk/Patterson etc.,1,4,--,26,31
18,Southwest ~ Sud-Ouest,Valley Ridge/Crestmont/Cougar Ridge etc.,156,6,76,175,413
19,Southwest ~ Sud-Ouest,Total,262,122,180,443,"1,007"