# 2020 Absorption Rates

Units Absorbed by Dwelling Type and Neighbourhood for Census Metropolitan Areas

Unabsorbed and Absorbed Tables need to be joined.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Neighborhood_Absorption.csv')

In [4]:
df.tail()

,Province,Centre,Zone,Neighbourhood\nQuartier,Singles\nIndividuels,Semis\nJumelés,Row\nEn bande,Apartment\nand Other\nAppartements\net autres,Total
56,Alta/Alb.,Calgary,Other Centres ~ Autres centres,Airdrie,522,173,220,7,922
57,Alta/Alb.,Calgary,Other Centres ~ Autres centres,Cochrane,192,132,92,9,425
58,Alta/Alb.,Calgary,Other Centres ~ Autres centres,Calgary CMA Remainder ~ Calgary RMR (reste),311,42,12,6,371
59,Alta/Alb.,Calgary,Other Centres ~ Autres centres,Total,"1,025",347,324,22,"1,718"
60,Alta/Alb.,Calgary,Total,Total,"3,904","1,281","1,689","4,097","10,971"

In [5]:
df = df.drop(columns = ['Province', 'Centre'])
df.head()

,Zone,Neighbourhood\nQuartier,Singles\nIndividuels,Semis\nJumelés,Row\nEn bande,Apartment\nand Other\nAppartements\net autres,Total
0,Downtown ~ Centre-ville,Downtown/Eau Claire ~ Centre-ville/Eau Claire,--,--,--,73,73
1,Downtown ~ Centre-ville,Scarboro/Sunalta,4,2,--,3,9
2,Downtown ~ Centre-ville,Total,4,2,--,76,82
3,Beltline,Misson/Beltline,--,--,--,464,464
4,Beltline,Lower Mount Royal/Cliff Bungalow,5,--,1,--,6

In [12]:
df = df.rename(columns = {'Neighbourhood\nQuartier' : 'Neighbourhood', 'Singles\nIndividuels' : 'Singles', 'Semis\nJumelés' : 'Semis', 'Row\nEn bande' : 'Row', 'Apartment\nand Other\nAppartements\net autres' : 'Apartment_And_Other'
                    
                })

### Breaking Down the Zones to Identify the Directional Sections in Accordance with the Map on Page 21

### The Totals Will Need to be Removed From The DataFrame

The South East Industrial Neighborhood & Surrounding Communities will be grouped with South as it is predominately in the Southern region.

Airdrie will be removed as it is too far north.

In [21]:
df.head()

,Zone,Neighbourhood,Singles,Semis,Row,Apartment_And_Other,Total
0,Downtown ~ Centre-ville,Downtown/Eau Claire ~ Centre-ville/Eau Claire,--,--,--,73,73
1,Downtown ~ Centre-ville,Scarboro/Sunalta,4,2,--,3,9
2,Downtown ~ Centre-ville,Total,4,2,--,76,82
3,Beltline,Misson/Beltline,--,--,--,464,464
4,Beltline,Lower Mount Royal/Cliff Bungalow,5,--,1,--,6

In [23]:
df['Section'] = ''

In [36]:
df.Section[0:12] = 'Centre'

In [92]:
df.Section[12] = 'West'
df.Section[13] = 'Centre'
df.Section[14:19] = 'West'
df.Section[20:21] = 'East'
df.Section[22:24] = 'South'
df.Section[25] = 'North'
df.Section[26] = 'Centre'
df.Section[27] = 'Centre'
df.Section[28] = 'North'
df.Section[29] = 'Centre'
df.Section[30:38] = 'North'
df.Section[39:45] = 'East'
df.Section[46] = 'Centre'
df.Section[47] = 'Centre'
df.Section[48] = 'Centre'
df.Section[49] = 'South'
df.Section[51:55] = 'South'
df.Section[56:61] = 'None'

In [93]:
df.head(40)

,Zone,Neighbourhood,Singles,Semis,Row,Apartment_And_Other,Total,Section
0,Downtown ~ Centre-ville,Downtown/Eau Claire ~ Centre-ville/Eau Claire,--,--,--,73,73,Centre
1,Downtown ~ Centre-ville,Scarboro/Sunalta,4,2,--,3,9,Centre
2,Downtown ~ Centre-ville,Total,4,2,--,76,82,Centre
3,Beltline,Misson/Beltline,--,--,--,464,464,Centre
4,Beltline,Lower Mount Royal/Cliff Bungalow,5,--,1,--,6,Centre
5,Beltline,Bankview,0,2,9,21,32,Centre
6,Beltline,Total,5,2,10,485,502,Centre
7,North Hill,Rosedale/Sunnyside/Crescent Hts/Renfrew,20,25,4,13,62,Centre
8,North Hill,Parkdale/St. Andrews Hts etc.,36,38,5,106,185,Centre
9,North Hill,Bridgeland/Riverside,7,3,14,73,97,Centre
10,North Hill,Total,63,66,23,192,344,Centre
11,Southwest ~ Sud-Ouest,Altadore/South Calgary/CFB Currie etc. ~ Altad...,56,49,52,194,351,Centre
12,Southwest ~ Sud-Ouest,North Glenmore Park/Lakeview,18,--,3,2,23,West
13,Southwest ~ Sud-Ouest,Killarney/Glengarry,13,32,29,36,110,Centre
14,Southwest ~ Sud-Ouest,Wildwood/Spruce Cliff/Shaganappi etc.,15,12,20,9,56,West
15,Southwest ~ Sud-Ouest,Glendale/Glenbrook,2,19,--,1,22,West
16,Southwest ~ Sud-Ouest,Rutland Park/Glamorgan,1,--,--,--,1,West
17,Southwest ~ Sud-Ouest,Strathcona Pk/Christie Pk/Patterson etc.,1,4,--,26,31,West
18,Southwest ~ Sud-Ouest,Valley Ridge/Crestmont/Cougar Ridge etc.,156,6,76,175,413,West
19,Southwest ~ Sud-Ouest,Total,262,122,180,443,"1,007",
20,Southeast ~ Sud-Est,Forest Lawn/Forest Heights etc.,2,--,59,10,71,East
21,Southeast ~ Sud-Est,Dover/Southview/Inglewood/Alyth etc.,4,3,--,122,129,East
22,Southeast ~ Sud-Est,Southeast Industrial & Surrounding Comm. ~ Sec...,4,2,16,39,61,South
23,Southeast ~ Sud-Est,McKenzie Towne/New Brighton etc.,497,83,87,621,"1,288",South
24,Southeast ~ Sud-Est,Total,507,88,162,792,"1,549",
25,Northwest ~ Nord-Ouest,Bowness,14,12,31,45,102,North
26,Northwest ~ Nord-Ouest,Winston Hts/Mountview/Tuxedo Park etc.,6,25,30,6,67,Centre
27,Northwest ~ Nord-Ouest,Mount Pleasant,7,26,14,6,53,Centre
28,Northwest ~ Nord-Ouest,N Haven/Upper N Haven/Thorncliffe etc.,13,10,--,2,25,North
29,Northwest ~ Nord-Ouest,Capitol Hill/Rosemont/Banff Trail,12,23,43,5,83,Centre
30,Northwest ~ Nord-Ouest,Montgomery/Point McKay/University Hts,7,15,40,709,771,North
31,Northwest ~ Nord-Ouest,Charleswood/Collingwood/Brentwood,10,--,--,165,175,North
32,Northwest ~ Nord-Ouest,Varsity,8,--,--,--,8,North
33,Northwest ~ Nord-Ouest,Dalhousie,5,--,--,--,5,North
34,Northwest ~ Nord-Ouest,Silver Springs/Scenic Acres/Tuscany,2,--,4,--,6,North
35,Northwest ~ Nord-Ouest,Ranchlands/Hawkwood/Citadel etc.,19,--,4,5,28,North
36,Northwest ~ Nord-Ouest,Sherwood/Kincora/Hamptons/Edgemont,152,10,64,146,372,North
37,Northwest ~ Nord-Ouest,Huntington Hills/Evanston etc.,565,188,252,185,"1,190",North
38,Northwest ~ Nord-Ouest,Total,820,309,482,"1,274","2,885",
39,Northeast ~ Nord-Est,Vista Heights/Skyline East/Pegasus etc.,1,4,--,1,6,East

In [96]:
df = df[df['Neighbourhood'] != 'Total']

In [97]:
df.shape

(50, 8)

In [106]:
df.head()

,Zone,Neighbourhood,Singles,Semis,Row,Apartment_And_Other,Total,Section
0,Downtown ~ Centre-ville,Downtown/Eau Claire ~ Centre-ville/Eau Claire,--,--,--,73,73,Centre
1,Downtown ~ Centre-ville,Scarboro/Sunalta,4,2,--,3,9,Centre
3,Beltline,Misson/Beltline,--,--,--,464,464,Centre
4,Beltline,Lower Mount Royal/Cliff Bungalow,5,--,1,--,6,Centre
5,Beltline,Bankview,0,2,9,21,32,Centre

In [98]:
n_df = df[df['Section'] == 'North']
s_df = df[df['Section'] == 'South']
e_df = df[df['Section'] == 'East']
w_df = df[df['Section'] == 'West']
c_df = df[df['Section'] == 'Centre']

### The Neighborhoods are Sorted Into Sections

The data needs to be further sorted into averages for each property type.

In [107]:
n_df.head()

,Zone,Neighbourhood,Singles,Semis,Row,Apartment_And_Other,Total,Section
25,Northwest ~ Nord-Ouest,Bowness,14,12,31,45,102,North
28,Northwest ~ Nord-Ouest,N Haven/Upper N Haven/Thorncliffe etc.,13,10,--,2,25,North
30,Northwest ~ Nord-Ouest,Montgomery/Point McKay/University Hts,7,15,40,709,771,North
31,Northwest ~ Nord-Ouest,Charleswood/Collingwood/Brentwood,10,--,--,165,175,North
32,Northwest ~ Nord-Ouest,Varsity,8,--,--,--,8,North

In [112]:
unabsorbed = pd.read_csv('data/Units_Unabsorbed_Neighbourhoods.csv')

In [113]:
unabsorbed.head()

,Province,Centre,Zone,Neighbourhood\nQuartier,Singles\nIndividuels,Semis\nJumelés,Row\nEn bande,Apartment\nand Other\nAppartements\net autres,Total
0,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Downtown/Eau Claire ~ Centre-ville/Eau Claire,--,--,--,81,81
1,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Scarboro/Sunalta,0,2,--,--,2
2,Alta/Alb.,Calgary,Downtown ~ Centre-ville,Total,0,2,--,81,83
3,Alta/Alb.,Calgary,Beltline,Misson/Beltline,--,--,--,--,--
4,Alta/Alb.,Calgary,Beltline,Lower Mount Royal/Cliff Bungalow,1,--,--,--,1

In [89]:
sw_df = df[df['Zone'] == 'Southwest ~ Sud-Ouest']

In [19]:
sw_df.head(10)

,Zone,Neighbourhood,Singles,Semis,Row,Apartment_And_Other,Total
11,Southwest ~ Sud-Ouest,Altadore/South Calgary/CFB Currie etc. ~ Altad...,56,49,52,194,351
12,Southwest ~ Sud-Ouest,North Glenmore Park/Lakeview,18,--,3,2,23
13,Southwest ~ Sud-Ouest,Killarney/Glengarry,13,32,29,36,110
14,Southwest ~ Sud-Ouest,Wildwood/Spruce Cliff/Shaganappi etc.,15,12,20,9,56
15,Southwest ~ Sud-Ouest,Glendale/Glenbrook,2,19,--,1,22
16,Southwest ~ Sud-Ouest,Rutland Park/Glamorgan,1,--,--,--,1
17,Southwest ~ Sud-Ouest,Strathcona Pk/Christie Pk/Patterson etc.,1,4,--,26,31
18,Southwest ~ Sud-Ouest,Valley Ridge/Crestmont/Cougar Ridge etc.,156,6,76,175,413
19,Southwest ~ Sud-Ouest,Total,262,122,180,443,"1,007"